<form (ngSubmit)="onSubmit(myform)" #myform="ngForm">
    <div style="padding: 10px;">
        <div class="row">
            <div class="col-6">
                <div class="form-outline">
                    <label class="form-label" for="form3Example1">First name</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="First Name" ngModel />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-outline">
                    <label class="form-label" for="form3Example2">Last name</label>

                    <input type="text" id="surName" name="surName" placeholder="Last Name" class="form-control" ngModel />
                </div>
            </div>
        </div>

        <!-- Email input -->
        <div class="row">
            <div class="col-6">
                <div class="form-outline">
                    <label class="form-label" for="form3Example3">Email address</label>
                    <input type="email" id="email" name="email" placeholder="Email" class="form-control" ngModel />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-outline" style="margin-top: 10px;">
                    <button type="submit" class="btn btn-secondary" style="float:right">Submit</button>
                </div>
            </div>
        </div>
    </div>


</form>